#content {
    background-color: #2c7e39;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1em;
}

#new-player {
    position: absolute;
    background-color: #2c7e39;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

#waiting-overlay {
    position: absolute;
    background-color: #2c7e39;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

#new-player #form {
    display: flex;
    flex-direction: column;
}

#new-player input {
    font-size: 1.5rem;
    border-radius: 5px;
}

#add-new-player-button {
    width: 150px;
    height: 50px;
    align-self: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#buttons game-button {
    width: 120px;
    height: 50px;
}

#card-row {
    justify-content: center;
}

#message {
    height: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    color: white;
}
