#content {
  background-color: #2c7e39;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  flex-direction: column;
}

#content > .players {
  flex: 1 1 auto;
}

#content > .game-details {
  flex: 0 0 auto;
}

#new-game {
  background-color: #2c7e39;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
}

#create-game,
#join-game {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  align-self: center;
}

#start-game {
  height: 50px;
  margin: 0 200px;
  align-self: center;
}

#players-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#players-bot {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 20px;
}

.game-details {
  display: flex;
  flex-direction: row;
  height: 180px;
}

.game-details > * {
  flex: 1 1 auto;
}

.game-name {
  display: flex;
  justify-content: center;
  padding: 0 15px 0;
  align-items: center;
  max-width: 300px;
  flex-direction: column;
}

#discard-pile,
#draw-pile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
